# EDK2 file types — override linguist's bad guesses
*.c       linguist-language=C
*.h       linguist-language=C
*.nasm    linguist-language=Assembly
*.asm     linguist-language=Assembly
*.S       linguist-language=Assembly
*.dec     linguist-language=INI
*.inf     linguist-language=INI
*.dsc     linguist-language=INI
*.fdf     linguist-language=INI
*.uni     linguist-detectable=false

# Don't count generated / build artifacts
Build/    linguist-generated=true
docs/*.png linguist-generated=true
